.card {
	width: 371px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 1px solid rgba(128, 128, 128, 0.285);

	@media (max-width: 1280px) {
		width: 100%;
	}


}
